
.left{text-align:left}
table.left tr td:first-child{min-width:200px}
.reveal section img.plain{-webkit-box-shadow:none;box-shadow:none;background:none;border:none;margin:0 0 0 10px;padding:0}
body{-webkit-transition:all 0.5s !important;-moz-transition:all 0.5s !important;-o-transition:all 0.5s !important;-ms-transition:all 0.5s !important;transition:all 0.5s !important}
body.invert{background-color:#8cc542;}
body.invert .reveal{color:#fff8eb}
body.invert .reveal h1,body.invert .reveal h2,body.invert .reveal h3,body.invert .reveal h4,body.invert .reveal h5,body.invert .reveal h6{color:#fff8eb}
