section
  h1 Design Goals
  h3 AKA: biting the bullet

section
  h1 The Basics
  h4 Provide an intuitive query langauge: inspired by the MongoDB gold standard
  h4 Must be Node-y: callback-based queries and promise-based cursors - we got'em!
  h4 Low learning curve: consistent API across Browser and Node.js
  h4 Backbone.js Model and Collection compatible with built-in relationships: we use Knockback.js
  h4 Trivial JSON API generation: raw JSON or DSL to customize

section
  h1 Above and Beyond
  h4 URL-based query syntax: debug JSON queries on the search bar: wanna debug queries without programming?
  h4 Both JSON and Model interfaces for JSON-only APIs when a full relation, model-based ORM is overkill
  h4 Batch-based, browser-side processing of server models: wanna generate a report in the Browser?
  h4 Node.js-based stream support: wanna to stream JSON from Postgres?
  h4 Relationships in MongoDB: well, it came for free
  h4 In Memory store: great for mocking and querying configuration
