section

  table
    tr
      td node-orm2
      td Crazy syntax, circular requires, SQL only (at the time)
    tr
      td JugglingDB
      td Sparse examples / docs, circular requires
    tr
      td Persistence.js
      td MySQL only server side
    tr
      td Sequelize
      td SQL only (duh). Otherwise it's great
    tr
      td Bookshelf
      td Oh snap, we didn't find this!
