section
  h1 The Results
  h3 AKA: ORMs are harder than they look

section
  h1 We are happy campers! ...now
  .left
    p We seamlessly transition between developing for the Browser and Node.js (and sometimes both!)
    p We can take advantage of the great extensions and frameworks around Backbone.js
    p We can mix-and-match databases to choose the best tool for the job
    p We focus on solving problems not memorizing APIs

section
  h1 We are tired campers!
  .left
    p Many long days and late nights filled with epiphonies: "So that's why A/B/C did X/Y/Z"

section
  h1 We are thankful campers!
  h3 Thank you:
  p Backbone.js for a great Model layer
  p Knex for a great SQL-mulivariant driver
  p MongoDB for an amazing query syntax
  p CouchDB for url-based queries
  p Rails and Django for mature ORMs

section
  h1 We are open sourcing campers!
  table.left
    tr
      td backbone-orm
      td (b/n)
      td base library that extends Backbone.js and provides an in-memory store
    tr
      td backbone-http
      td (b/n)
      td an HTTP interface for BackboneORM
    tr
      td backbone-rest
      td (n)
      td a RESTful controller for BackboneORM
    tr
      td backbone-mongo
      td (n)
      td MongoDB storage for BackboneORM
    tr
      td backbone-sql
      td (n)
      td PostgreSQL, MySQL, and SQLite3 storage for BackboneORM
