section
  h1 The Results
  h3 AKA: ORMs are harder than they look

section
  h1 We are happy campers! ...now
  h4 We seamlessly transition between developing for the Browser and Node.js (and sometimes both!)
  h4 We can take advantage of the great extensions and frameworks around Backbone.js
  h4 We can mix-and-match databases to choose the best tool for the job
  h4 We focus on solving problems not memorizing APIs

section
  h1 We are tired campers!
  h4 Many long days and late nights filled with epiphonies: "So that's why A/B/C did X/Y/Z"

section
  h1 We are thankful campers!
  h3 Thank you:
  h4 Backbone.js for a great Model layer
  h4 Knex for a great SQL-mulivariant driver
  h4 MongoDB for an amazing query syntax
  h4 CouchDB for url-based queries
  h4 Rails and Django for mature ORMs
