section.invert
  h1 The Results
  h3 AKA: ORMs are harder than they look

section
  h1 We are happy campers!
  h2.fragment ...now
  //.left
  //  p We seamlessly transition between developing for the Browser and Node.js (and sometimes both!)
  //  p We can take advantage of the great extensions and frameworks around Backbone.js
  //  p We can mix-and-match databases to choose the best tool for the job
  //  p We focus on solving problems not memorizing APIs

section
  h1 We are tired campers!
  //.left
  //  p Many long days and late nights filled with epiphanies: "So that's why A/B/C did X/Y/Z"
  //  p Things like: What does a collection mean now in a *to many relation? What do we do when adding items when it's not loaded?
  //  p What do we do when we set relations before saving them?
  //  p Is it ok to do some db operations in the background? Or should they be explicit? (it depends, both is the answer)

section
  h1 We are thankful campers!
  h3 Thank you:
  ul
    li Backbone.js for a great Model layer
    li Knex for a great SQL-mulivariant driver
    li MongoDB for an amazing query syntax
    li CouchDB for url-based queries
    li Rails and Django for mature ORMs

section
  h1 We are open sourcing campers!
  table.left
    tr
      td
        h4 backbone-orm
      td Base library that provides an in-memory store
    tr
      td
        h4 backbone-rest
      td A RESTful controller
    tr
      td
        h4 backbone-http
      td An HTTP interface
    tr
      td
        h4 backbone-mongo
      td MongoDB storage
    tr
      td
        h4 backbone-sql
      td PostgreSQL, MySQL, and SQLite3 storage
