section.invert
  a(href='http://vidigami.github.io/backbone-orm')
    img.plain(src='./images/backbone-orm-logo-large.png')
  h4 A polystore ORM for Node.js and the browser
  h4 Learn more: <a ref='http://vidigami.github.io/backbone-orm'>vidigami.github.io/backbone-orm</a>
  br
  h4 Brought to you by Kevin Malakoff and Gwilym Humphreys
  h4 We hope you give it a try!

  a(href='https://www.vidigami.com')
    span www.vidigami.com
    img.plain(src='./images/vidigami-lizard.png')
