section
  h1 Why?
  h3 Node has like a bazillion of them

section
  h1 ...with like a bazillion APIs

section
  h4 Sequelize
  pre
    code.language-coffeescript.
      var Foo = sequelize.define('Foo', { /* attributes */}, {
        classMethods: {
          method1: function(){ return 'smth' }
        },
        instanceMethods: {
          method2: function() { return 'foo' }
        }
      });

  h4 Mongoose
  pre
    code.language-coffeescript.
      var mongoose = require('mongoose');
      mongoose.connect('mongodb://localhost/test');
      var db = mongoose.connection;

      var kittySchema = mongoose.Schema({name: String});
  h4 Backbone-Relational
  pre
    code.language-coffeescript.
      Zoo = Backbone.RelationalModel.extend({
        relations: [{
          type: Backbone.HasMany,
          key: 'animals',
          relatedModel: 'Animal',
        }]
      });

section
  h3 There's something
  h1 Missing

section
  h2 Node ORM
  h1.fragment.zoom-in What goes in between?
  h2 Browser MV*

section
  h2 "JavaScript Everywhere"
  h3 Let's do that
  h3 With a
    strong &nbsp;consistent&nbsp;
    | API

  .hidden
    p So there's this "JavaScript Everywhere" idea
    p Let's extend it make our lives easy
    p By having a consistent API for models across client and server

section
  h1 Backbone-ORM

  h4 Server
  pre
    code.language-coffeescript.
      class Project extends Backbone.Model
        urlRoot: 'mongodb://localhost:27017/projects'
        sync: require('backbone-mongo').sync(Project)

      # Find all items with is_active = true
      Project.find {is_active: true}, (err, projects) ->

  .fragment
    h4 Client
    pre
      code.language-coffeescript.
        class Project extends Backbone.Model
          urlRoot: '/projects'
          sync: require('backbone-http').sync(Project)

        # Find all items with is_active = true
        Project.find {is_active: true}, (err, projects) ->

    div

