section
  h1 Why?

section
  h1 Why not?
  h3 ORMs must be easy, right?
  h3 Most languages have got one or more!

section
  h1 Seriously
  h3 Node.js and Broswer MVC/MVVM frameworks are awesome inventions that really accelerate development, but there's a problem...

section
  h1 They need to talk to each other

section
  h3 But without a standard API across browser and server, the "JavaScript Everywhere" promise breaks a little
  h4 That's why there is Meteor
  h4 That's why there is Backbone-ORM

section
  h1 Backbone-ORM
  h4 Client
  pre
    code.language-coffeescript.
      class Project extends Backbone.Model
        urlRoot: '/projects'
        sync: require('backbone-http').sync(Project)

      # Find all items with is_active = true
      Project.find {is_active: true}, (err, projects) ->

  h4 Server
  pre
    code.language-coffeescript.
      class Project extends Backbone.Model
        urlRoot: 'mongodb://localhost:27017/projects'
        sync: require('backbone-mongo').sync(Project)

      # Find all items with is_active = true
      Project.find {is_active: true}, (err, projects) ->
