@import 'nib'
@import 'colors'


body
  transition: all 0.5s !important

body.invert
  background-color: #8cc542

  .reveal
    color: #fff8eb

  h1, h2, h3, h4, h5, h6
    color: #fff8eb

.reveal section
  img.plain
    box-shadow: none
    background: none
    border: none
    margin: 0 0 0 10px
    padding: 0

  strong
    color: #268bd2

  .left
    text-align: left

  .huge
    font-size: 5em

  table.left
    tr
      td:first-child
        min-width: 200px

  h1.fragment.zoom-in
    height: 0
    overflow: hidden
    &.visible
      height: 240px

