@import 'nib'
@import 'colors'


.left
  text-align: left

table.left
  tr
    td:first-child
      min-width: 200px

.reveal section
  img.plain
    box-shadow: none
    background: none
    border: none
    margin: 0 0 0 10px
    padding: 0

body
  transition: all 0.5s !important

body.invert
  background-color: #8cc542

  .reveal
    color: #fff8eb

  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6
    color: #fff8eb
